# Dependencies
node_modules

# NextJS
.next
out

# Production
build
generated

# Debug
npm-debug.log*

# Environment
.env*
.venv

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
__pycache__

# Extras
.Extras
Extracted Number Plates
Extracted Vehicles
shared